@import "~bootstrap-scss/bootstrap.scss";

@import "./modules/colors";

@import "./components/tags";
@import "./components/example";

@import "./partials/layout/navbar";
@import "./partials/layout/header";
@import "./partials/headers";
@import "./partials/front/post-list";

@import "./partials/post/post";
@import "./partials/post/related";

@import "./articles/2015-12-06-css-tricks";
@import "./articles/2016-04-04-modern-css-layouting";

@import "client/rogue";

body {
  font-family: 'Open Sans';
}

h1, h2, h3, h4 {
  font-family: 'Open Sans';
}

a {
  color: $color-curious-blue;
}

blockquote {
  font-style: italic;
  color: $color-tapa;
}
