/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

@import "../bower_components/sass-bootstrap/lib/bootstrap";

@import "./modules/colors";

@import "./partials/navbar";
@import "./partials/header";
@import "./partials/headers";
@import "./partials/example";

@import "./articles/2015-12-06-css-tricks";
@import "./articles/2016-04-04-modern-css-layouting";

body {
  font-family: 'Open Sans';
}

h1, h2, h3, h4 {
  font-family: 'Open Sans';
}

a {
  color: $color-curious-blue;
}

blockquote {
  font-style: italic;
  color: $color-tapa;
}
