/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

@import "../bower_components/sass-bootstrap/lib/bootstrap";

@import "./modules/colors";

header {
  background-color: $color-spiro-disco-ball;
  height: 300px;
  margin-bottom: 10px;

  h1 {
    margin-top: 102px;
    text-align: center;
    font-size: 64px;
    color: #ffffff;
  }
}
