---
layout: default
title: Oskar Szura Blog
---

<h4 class="l-content__header">Posts</h4>
<ol class="post-list">
    {% for post in site.posts %}
    <li class="post-list__item">
        <a href="{{ post.url }}">
            <span class="post-list__date">({{ post.date | date: "%F" }})</span>
            <span class="post-list__title">{{ post.title }}</span>
        </a>
        <span class="post-list__tags">
            <div class="component-tags">
                {% for tag in post.tags %}
                <span class="component-tags__tag">
                    {{ tag }}
                </span>
                {% endfor %}
            </div>
        </span>
    </li>
    {% endfor %}
</ol>
