.l-header {
  background-image: url('../assets/images/header-background.jpg');
  height: $l-size-header-height;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__caption-big {
    text-align: left;
    color: $color-venice-blue;
    font-size: 9vw;
    margin: 0 0 0 2vw;
  }
  &__caption-small {
    text-align: left;
    margin: 0 0 0 23vw;
    font-size: 2.5vw;
    margin-top: -1vw;
    color: $color-venice-blue;
  }
}
