nav.navbar {
  @include border-radius(0px, 0px);
  margin-bottom: 0px;
  background-color: $color-curious-blue;

  a {
    color: $color-white;

    &:hover {
      background-color: darken($color-curious-blue, 10%);
    }
  }
}