header {
  background-color: $color-white;
  background-image: url('/assets/images/book-learning-javascript-design-patterns.jpg');
  background-size: 100%;
  background-position-y: center;
  background-position-x: right;
  background-repeat: no-repeat;
  height: 300px;
  margin-bottom: 10px;

  h1 {
    margin-top: 13px;
    margin-left: 20px;
    text-align: left;
    font-size: 36px;
    color: $color-curious-blue;
  }

  h2 {
    margin-top: 13px;
    margin-left: 20px;
    text-align: left;
    font-size: 20px;
    color: $color-curious-blue;
  }
}