header {
  background-color: $color-desert-storm;
  background-size: 100%;
  background-position-y: center;
  background-position-x: right;
  background-repeat: no-repeat;
  height: 300px;
  margin-bottom: 10px;

  h1 {
    margin-top: 110px;
    margin-left: 20px;
    text-align: center;
    font-size: 36px;
    color: $color-curious-blue;
  }

  h2 {
    margin-top: 13px;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
    color: $color-curious-blue;
  }

  .col-sm-4 {
    height: 300px;

    &:hover {
      background-color: darken($color-desert-storm, 10%);
    }
  }

  .col-sm-4:nth-child(2) {
    background-color: $color-seashell;
    background-image: url('/assets/images/header-github.png');
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      background-color: darken($color-seashell, 10%);
    }
  }
}