<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Oskar Szura Blog</title>
    <link rel="stylesheet" href="/public/styles.css"/>
    <link href="https://raw.githubusercontent.com/richleland/pygments-css/master/autumn.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
</head>
<body class="l-body">
<nav class="l-navigation">
    <ul class="l-navigation__items">
        <li class="l-navigation__item">
            <a href="/">
                Home
            </a>
        </li>
        <li class="l-navigation__item">
            <a href="https://github.com/oskarszura">
                Projects
            </a>
        </li>
        <li class="l-navigation__item">
            <a href="/about-me">
                About Me
            </a>
        </li>
    </ul>
</nav>
<header class="l-header">
    <h1 class="l-header__caption-big">
        OSKAR SZURA
    </h1>
    <h2 class="l-header__caption-small">
        professional software developer
    </h2>
</header>
<main class="l-content">
    <section class="l-content__main">
        {{ content }}
    </section>
    <aside class="l-content__aside">
        <h4 class="l-content__header">About me</h4>
        <div id="gr_updates_widget">
            <iframe id="the_iframe" src="https://goodreads.com/widgets/user_update_widget?height=400&num_updates=5&user=75057757&width=250" width="248" height="330" frameborder="0"></iframe>
            <div id="gr_footer">
                <a href="https://www.goodreads.com/"><img alt="Goodreads: Book reviews, recommendations, and discussion" src="https://s.gr-assets.com/images/layout/goodreads_logo_140.png" /></a>
            </div>
        </div>
    </aside>
</main>
<footer class="l-footer">
    coded & designed by <a href="http://codait.net">CODA_</a>
</footer>
{% include google_analytics.html %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6069538852849926" crossorigin="anonymous"></script>
</body>
</html>
