<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Oskar Szura Blog</title>

    <link rel="stylesheet" href="/stylesheets/screen.css"/>
</head>
<body>

<header class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Oskar Szura Blog</h1>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <aside class="col-sm-3">

        </aside>
        <main class="col-sm-9">
            {{ content }}
        </main>
    </div>
</div>

<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
</footer>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64563894-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>