<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Oskar Szura Blog</title>

    <link rel="stylesheet" href="/stylesheets/screen.css"/>

    {% include google_analytics.html %}
</head>
<body>

<header class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            [![Analytics](https://ga-beacon.appspot.com/UA-64563894-1/chromeskel_a/readme?pixel)](https://github.com/igrigorik/ga-beacon)
            <h1>Oskar Szura Blog</h1>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <aside class="col-sm-3">

        </aside>
        <main class="col-sm-9">
            {{ content }}
        </main>
    </div>
</div>

<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
</footer>

</body>
</html>